%h3 ¿QUÉ RECIBIRÁS?
.container
  .col-md-6
    %p.text-left Recibirás los videos de todos tus usuarios interactuando con tu proyecto. Los videos registran la pantalla con los clicks, la cara de los usuarios para identificar expresiones, reacciones y emociones y finalmente el audio, ya que se les pide que comenten todo lo que piensan mientras realizan el test.
    = image_tag("whatget1.png", class: "img-responsive")
  .col-md-6
    %p.text-left Obtendrás una tabla donde verás el éxito de cada tarea correspondiente a cada usuario, así podrás ver dónde están las fallas y qué debes mejorar. La tabla se compone por 3 colores, verde (logrado exitosamente), amarillo (logrado parcialmente) y rojo (no logrado).
    = image_tag("whatget2.png", class: "img-responsive")