= render "shared/flash_messages", :locals => { :flash => flash }
.sectionHeader.welcome-side.cloudy
  .small-cloud
    .container
      =render "navbar"
    .container
      .col-md-6.intro
        %h1.big-title API ORGANIZER
        %p.content
          = t(:apio_description)
        %a#create-btn.btn.btn-lg.btn-success{href: user_google_oauth2_omniauth_authorize_path}
          = t(:free_trial).upcase

.container-fluid
  .row.option
    =render "options"
  .row.what-get
    =render "what_get"
=render "footer"
