.container
  .row.element
    .col-md-4
      %button#loadScreen.form-control{:type => "button"} Transmitir Pantalla!
    .col-md-4
      %button#stopRecordScreen.form-control{:type => "button"} Detener!