- if !user_signed_in?
  %a#btn-login.btn.btn-action-blue.gradient{href: user_google_oauth2_omniauth_authorize_path}
    Sign in with Google
- else
  .btn-group#user-menu
    %button.btn.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
      %span.name
        = current_user.name
      %span.caret
    %ul.dropdown-menu.pull-right
      - current_user.organizations.distinct.each do |org|
        %li.institution
          %small
            =t(:organization)
          = org.name
        %li
          = link_to t(:my_services), organization_services_path(org), id: "services"
      %li.logout
        =link_to destroy_user_session_path(:authenticity_token => form_authenticity_token()), method: :delete, id: 'btn-logout' do
          %i.material-icons
            exit_to_app
          %span= t(:logout)
